
<!DOCTYPE html>
<html lang="en" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://ogp.me/ns/fb#">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../static/favicon.ico" type="image/x-icon">

    <meta property="og:type" content="website">
    <meta property="og:title" content="Гуманитарии vs Технари">
    <meta property="og:description" content="Определи тип личности по твоим комментариям!">
    <meta property="og:url" content="www.commentsanalysis.ru">
    <meta property="og:image" content="https://hsto.org/webt/ii/gi/pj/iigipj5qhjvi7g9ohwjqjjwuvws.jpeg">
	<!--
    <meta property="og:image:width" content="650">
    <meta property="og:image:height" content="619">
    -->

    <title>Гуманитарии vs Технари</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">


    <!-- Custom styles for this template -->
    <link href="../static/jumbotron-narrow.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <script type="text/javascript" src="https://vk.com/js/api/share.js?95" charset="windows-1251"></script>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = 'https://connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.10';
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>

    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li><a href="https://github.com/EvgenyKashin/CommentsAnalysis" target="_blank">GitHub</a></li>
        </ul>
        <h3 class="text-muted">Гуманитарии vs Технари</h3>
      </div>

      <div class="jumbotron">
        <h1>Гуманитарии vs Технари</h1>
        <p class="lead">Определение типа личности по твоим комментариям. Напиши в поле ниже свои комментарии
        на произвольную тему, как если бы ты писал их в интернете. Напиши минимум 5 комментариев длиннее одного слова.
        Чтобы тебе было проще, можешь комментировать случайные ответы из вк.</p>
      </div>

      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-7 col-md-10">
            <h4>Случайный коммент:</h4>
            <blockquote>
              <p>...</p>
            </blockquote>
          </div>
          <div class="col-xs-5 col-md-2">
            <br><br>
            <button type="button" class="btn btn-primary">Следующий</button>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-md-10">
            <h4>Твой коммент:</h4>
            <textarea class="form-control" rows="3" maxlength="300"></textarea>
            <h4><span class="label label-warning"></span></h4>
          </div>
          <div class="col-xs-6 col-md-2">
            <br><br>
            <button type="button" class="btn btn-primary">Ответить</button>
            <h4>Ответов: 0</h4>
          </div>
        </div>

        <div class="row">
          <center>
            <br><br>
            <button class="btn btn-lg btn-warning" type="button" id="result">Узнать результат</button>
            <button class="btn btn-lg btn-primary" type="button" id="restart">Заново</button>
            <br>
            <h4><span class="label label-warning"></span></h4>
            <br><br>
          </center>
        </div>

        <div class="row">
          <div class="col-xs-12 col-md-12">
            <h3></h3>
            <br>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-md-12">
            <h4></h4>
            <table class="table">
 
            </table>

            <br>
          </div>
        </div>

        <div class="row">
          <center>
            <div class="col-md-2 col-md-offset-4">
              <script type="text/javascript">
                document.write(VK.Share.button(false,{type: "round", text: "Поделиться"}));
              </script>
              <br>
            </div>
            <div class="col-md-2 col-md-offset-6" style="margin-left: 0%">
              <div class="fb-share-button" data-href="https://comments-analysis.herokuapp.com/" data-layout="button_count" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse">Поделиться</a>
              </div>
            </div>
          </center>
        </div>
      </div>




      <div class="footer">
        <p>Link</p>
      </div>

    </div> <!-- /container -->

    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="../static/script.js"></script>
  </body>
</html>